<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="KongBuEntities" connectionString="metadata=res://*/Model.Connection.csdl|res://*/Model.Connection.ssdl|res://*/Model.Connection.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-PEM4P1PA;initial catalog=KongBu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>